.score {
  margin-top: 50px;
  margin-left: 50px;
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

button {
  font-size: 24px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.grid {
  position: absolute;
  width: 560px;
  height: 300px;
  border: solid black 1px;
  margin: 20px 50px 50px 50px;
}

.block {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: blue;
}

.user {
  position: absolute;
  width: 100px;
  height: 20px;
  background-color: purple;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background-color: red;
}
